$black: #171819;
$yellow: #f1c111;
$white: #fff;
$blue: #057a8d;
$light-blue: #0c8195;
$grey: #666262;
$light-grey: #909090;
$bg-color: #f0f8ff;

$mobile-width: 600px;
$tablet-width:1024px;
$tablet-small-width:768px;