.header{
    @include flex(center, space-between);
    flex-wrap: wrap;
    padding: 2.5rem 14%;
    background-color:$light-blue;
    color:$white;
    position: relative;

    @include tablet{
        padding: 2.5rem 4rem;
    }

    @include mobile{
        padding: 2.5rem 1.5rem ;
    }

    &__logo{
        font-size: 34px;  
    }

    &__menu{
        @include flex(center, center);
        font-size:14px;
        transition: 0.5s linear;
        display: absolute;
        top: 0;
        left: 0;
        //clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        @include mobile{
           flex-direction: column;
           width: 100%;
           padding: 4rem;
           display: none;
           
        }

        &.active{
            display: inherit;
            //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
        }

        &__item{
            padding: 0 1.75rem;

            @include mobile{
                margin: 1rem;
                
            }

            &:last-child{
                padding: 1rem 2.5rem;
                border-radius: 100px;
                border: 2px solid $yellow;
                font-weight: bold;
                color:$yellow;
                margin-left: 1.75rem;

                &:hover{
                    background-color:$yellow;
                    color: $white;
                }
            }
        }
    }

    &__bar{
        display: none;
        font-size:2rem;
        @include mobile{
            display: inherit;
        }
    }

    a{
        color:$white;
        &:hover{
            color: $yellow;
        }
        
        i{
            margin-right: 0.5rem;
        }
    }
    .fa-times{
        font-size:2.5rem;
    }
}